@import '../../marketplace.css';

.root {
}

.input {
  border-bottom-color: #4a4a4a !important;
}

.inputSuccess {
  border-bottom-color: var(--successColor);
}

.inputError {
  border-bottom-color: var(--failColor);
}

.textarea {
}
