.root {
  display: flex;
  flex-direction: column;

  min-height: 50vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
@media (min-width: 1024px){
  max-height: 765px;
}

}

.scrollingDisabled {
  /* position: fixed and width are added to prevent iOS from scrolling content */
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
